  <div id="jumbo" class="jumbotron">
    <div class="container">
      <img class="img-circle center-block" src="/assets/me_280.png">
      <h1 class="text-center logo">Logicalicy</h1>
      <h2 class="text-center">By Mario</h2>
    </div>
  </div>

  <div class="container marketing">
    <div class="row">
      <h2 class="text-center">About me</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <p>Only a handful of people know how I came up with the name <em>Logicalicy</em>. Of course, as all good things do, it came about through an "a-ha" moment, <a href="https://www.ted.com/talks/rives_on_4_a_m">4AM in the morning</a>.</p>
      </div>
      <div class="col-md-6">
        <p>Software engineer by trade and entrepreneur at heart. My international background and experiences living in Austria, UK and US have opened my eyes to many things. As a result, I have a lot of interest in... a lot of things! To whittle down that list, however, I'm most enthusiastic about tech startups, food and sports. Topics I like discussing at leisure include applied psychology and philosophy.</p>
      </div>
    </div>
  </div>

  <div class="container marketing initiatives">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-4">
        <div class="circle-sm dark-orange">
          <a href="http://blog.logicalicy.com">
            <i class="fa fa-wordpress"></i>
          </a>
        </div>
        <h2>Blog</h2>
        <p>All the cool kids at school have a blog. Do you?</p>
        <p><a class="btn btn-default" href="http://blog.logicalicy.com" role="button">Read my blog »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="circle-sm dark-orange">
          <a href="/#/labs">
            <i class="fa fa-flask"></i>
          </a>
        </div>
        <h2>Labs</h2>
        <p>I like writing applications that solve problems, both for me and for friends. So, I've shortlisted a bunch of app ideas (both mine and friends'), which I hope to realise in the near future!</p>
        <p><a class="btn btn-default" href="/#/labs" role="button">Coming soon »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="circle-sm dark-orange">
          <a href="http://blog.logicalicy.com">
            <i class="fa fa-birthday-cake"></i>
          </a>
        </div>
        <h2>Food</h2>
        <p>I love cooking. It goes without saying that I've dedicated a special portion of my blog towards cooking!</p>
        <p><a class="btn btn-default" href="http://blog.logicalicy.com" role="button">Cooking recipes »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Vienna. <span class="text-muted">My home.</span></h2>
        <p class="lead">
          The colour palette for this website was generated with this photo: a sunset in my hometown Vienna (courtesy <a href="http://legraque.wordpress.com/">legraque.wordpress.com</a>). This website did the magic: <a href="http://www.lavishbootstrap.com/">Lavish Bootstrap</a>. Preeeee-tty interesting stuff, eh?
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/vienna_sunset.png">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div>