// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sass.css";
@import "font-awesome/css/font-awesome.css";
@import "carousel.css";
@import "custom-lavish-bootstrap.css";

$dark_orange: #f15401;
$orange: #fe8601;
$wordpress-blue: #21759b;
$linkedin-blue: #007bb6;
$twitter-blue: #00aced;

$white: #fff;
$default: #777;
$primary: #428bca;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
@mixin background-color($color) {
  color: $white;
  background-color: $color;
}

.brand {
  font-family: 'Lobster', cursive;
}

.teamcaptain-logo {
  font: {
    family: 'Black Ops One', cursive;
    size: 200px;
  }
  a {
    text-decoration: none;
    top: -20px;
    position: relative;
  }
}

.dark-orange {
  background-color: $dark_orange;
}
.orange {
  background-color: $orange;
}

#jumbo {
  // background-color: #00B233;
  // color: #eee;
  h1 {
    font-size: 80px;
  }
  img.img-circle {
    border: 10px solid $orange;
  }
}

.circle {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.circle-sm {
  @extend .circle;
  width: 200px;
  height: 200px;
  i.fa {
    font-size: 140px;
    padding-top: 28px;
  }
}

@mixin transform($scale) {
  -webkit-transform:scale($scale);
  /* Browser Variations: */
  -moz-transform:scale($scale);
  -o-transform:scale($scale);
}
@mixin transition-duration($duration) {
  -webkit-transform:scale($duration);
  /* Browser Variations: */
  -moz-transform:scale($duration);
  -o-transform:scale($duration);
}

footer {
  span {
    font-size: 10px;
  }
  .social {
    &:hover {
      @include transform(1.1);
    }
    @include transform(0.8);
    @include transition-duration(0.5s);
  }           
  /* 
  Only Needed in Multi-Coloured Variation 
  */
  .social-gh:hover {
    color: black;
  }
  .social-tw:hover {
    color: $twitter-blue;
  }
  .social-wp:hover {
    color: $wordpress-blue;
  }
  .social-li:hover {
    color: $linkedin-blue;
  }
}

.list-group-horizontal .list-group-item {
  display: inline-block;
  border: 0;
  margin: {
    bottom: 0;
    left:-4px;
    right: 0;
  }
  &:first-child {
    border: {
      top-right-radius:0;
      bottom-left-radius:4px;
    }
  }
  &:last-child {
    border: {
      top-right-radius:4px;
      bottom-left-radius:0;
    }
  }
  &.default {
    @include background-color($default);
  }
  &.primary {
    @include background-color($primary);
  }
  &.success {
    @include background-color($success);
  }
  &.info {
    @include background-color($info);
  }
  &.warning {
    @include background-color($warning);
  }
  &.danger {
    @include background-color($danger);
  }
}